@model IEnumerable<OkulİdareSistemi.Models.OgrenciDers>
@{
    Layout = "~/Views/Shared/Sidebar.cshtml";
}
<a href="@Url.Action("OgrenciDersAdd","Home")">
    <i></i>Yeni Ders Atama
</a>
<div>
    <div>
        <div>
            <div>
                <div id="filter-form-container"></div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <span>Id</span>
                            </th>
                            <th>
                                <span>Ders Adı</span>
                            </th>
                            <th>
                                <span>Öğrenci</span>
                            </th>
                            <th>
                                <span>Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var ogrenciDers in Model)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            @ogrenciDers.OgrenciDersId
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            @ogrenciDers.Ders.DersAdi
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            @ogrenciDers.Ogrenci.AdSoyad
                                        </div>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="@Url.Action("OgrenciDersEdit","Home", new {  id=ogrenciDers.OgrenciDersId  })">
                                                    <span data-feather="edit"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("OgrenciDersRemove","Home", new {  id=ogrenciDers.OgrenciDersId  })">
                                                    <span data-feather="trash-2"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<button>@Html.ActionLink("Anasayfa", "Index", "Home", new { area = "A" }, null)</button>
<button>@Html.ActionLink("Guncelle", "OgrenciDersEdit", "Home", new { area = "A" }, null)</button>
<br />
