@model IEnumerable<OkulİdareSistemi.Models.OkulYonetim>
@{
    Layout = "~/Views/Shared/Sidebar.cshtml";
}
<a href="@Url.Action("OkulYonetimAdd","Home")">
    <i></i>Yeni Personel Ekle
</a>
<div>
    <div>
        <div>
            <div>
                <div id="filter-form-container"></div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <span>PersonelId</span>
                            </th>
                            <th>
                                <span>Adı Soyadı</span>
                            </th>
                            <th>
                                <span>Görevi</span>
                            </th>
                            <th>
                                <span>Yönetim Tipi</span>
                            </th>
                            <th>
                                <span>Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var personel in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="userDatatable-content" style="align-items:center">
                                            @personel.OkulYonetimId
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            @personel.AdSoyad
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            @personel.Gorevi
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            @personel.YonetimTip
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                            <li>
                                                <a href="@Url.Action("OkulYonetimEdit","Home", new {  id=personel.OkulYonetimId  })" class="edit">
                                                    <span data-feather="edit"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("OkulYonetimRemove","Home", new {  id=personel.OkulYonetimId  })" class="remove">
                                                    <span data-feather="trash-2"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<button>@Html.ActionLink("Anasayfa", "Index", "Home", new { area = "A" }, null)</button>
<button>@Html.ActionLink("Guncelle", "OkulYonetimEdit", "Home", new { area = "A" }, null)</button>
<br />
